* {
  box-sizing: border-box; }

body {
  background-color: #303030;
  max-width: 800px;
  margin: 0 auto;
  font-family: arial; }

section {
  text-align: center;
  padding: 50px; }

a {
  text-decoration: none; }

#loginBtn {
  color: white;
  font-size: 2rem; }

#loginBtn:hover {
  color: #36db83; }

form {
  box-sizing: border-box;
  position: relative;
  background-color: #505050;
  padding: 40px 20px 20px 20px;
  margin-top: 10px; }
  form input {
    display: block;
    border: none;
    margin: 0 auto 10px auto;
    width: 80%;
    line-height: 20px;
    padding-left: 10px;
    border-radius: 5px; }

#closeBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  display: inline-block;
  width: 32px;
  line-height: 30px;
  font-size: 1.2rem;
  color: white;
  border: 1px solid white;
  border-radius: 50%; }

.hidden {
  visibility: hidden; }
