* {
	box-sizing : border-box;
}

body {
	font-family : arial;
}

#mainFlex {
	display : flex;
}

#sidebar {
	width : 100px;
	margin-right : 50px;

	img {
		width : 100px;
		transition : opacity 1s;
	}
}

figure {
	position : relative;
	margin : 0;

	img {
		display : block;
	}
	
	figcaption {
		position : absolute;
		bottom : 0;
		width : 100%;
		background-color : rgba(#303030, .8);
		color : white;
		line-height : 40px;
		padding-left : 20px;
	}
}

.fade {
	opacity : .5;
}
